@import "normalize.min";

/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */
@mixin thin-border {
  border: 1px #000 solid;
}
@mixin border-box {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
@mixin border-radius ($top-left: 0, $top-right: 0, $bottom-right: 0, $bottom-left: 0) {
  -webkit-border-radius: $top-left $top-right $bottom-right $bottom-left;
     -moz-border-radius: $top-left $top-right $bottom-right $bottom-left;
       -o-border-radius: $top-left $top-right $bottom-right $bottom-left;
          border-radius: $top-left $top-right $bottom-right $bottom-left;
}
@mixin transition ($time, $type: ease, $property: all) {
  -webkit-transition: $time $type $property;
     -moz-transition: $time $type $property;
       -o-transition: $time $type $property;
          transition: $time $type $property;
}
@mixin flipX {
-webkit-transform: scaleX(-1);
   -moz-transform: scaleX(-1);
     -o-transform: scaleX(-1);
        transform: scaleX(-1);
filter: FlipH;
}
@mixin yellow-button($reverse: false) {
  background: rgba(255,204,49,1);
  background: -moz-linear-gradient(top, rgba(255,204,49,1) 0%, rgba(255,204,49,1) 25%, rgba(255,221,117,1) 50%, rgba(255,204,49,1) 75%, rgba(255,204,49,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,204,49,1)), color-stop(25%, rgba(255,204,49,1)), color-stop(50%, rgba(255,221,117,1)), color-stop(75%, rgba(255,204,49,1)), color-stop(100%, rgba(255,204,49,1)));
  background: -webkit-linear-gradient(top, rgba(255,204,49,1) 0%, rgba(255,204,49,1) 25%, rgba(255,221,117,1) 50%, rgba(255,204,49,1) 75%, rgba(255,204,49,1) 100%);
  background: -o-linear-gradient(top, rgba(255,204,49,1) 0%, rgba(255,204,49,1) 25%, rgba(255,221,117,1) 50%, rgba(255,204,49,1) 75%, rgba(255,204,49,1) 100%);
  background: -ms-linear-gradient(top, rgba(255,204,49,1) 0%, rgba(255,204,49,1) 25%, rgba(255,221,117,1) 50%, rgba(255,204,49,1) 75%, rgba(255,204,49,1) 100%);
  background: linear-gradient(to bottom, rgba(255,204,49,1) 0%, rgba(255,204,49,1) 25%, rgba(255,221,117,1) 50%, rgba(255,204,49,1) 75%, rgba(255,204,49,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffcc31', endColorstr='#ffcc31', GradientType=0 );
  &:active {
    background: rgba(255,204,49,1);
    background: -moz-linear-gradient(top, rgba(255,204,49,1) 0%, rgba(255,221,117,1) 25%, rgba(255,221,117,1) 50%, rgba(255,221,117,1) 75%, rgba(255,204,49,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,204,49,1)), color-stop(25%, rgba(255,221,117,1)), color-stop(50%, rgba(255,221,117,1)), color-stop(75%, rgba(255,221,117,1)), color-stop(100%, rgba(255,204,49,1)));
    background: -webkit-linear-gradient(top, rgba(255,204,49,1) 0%, rgba(255,221,117,1) 25%, rgba(255,221,117,1) 50%, rgba(255,221,117,1) 75%, rgba(255,204,49,1) 100%);
    background: -o-linear-gradient(top, rgba(255,204,49,1) 0%, rgba(255,221,117,1) 25%, rgba(255,221,117,1) 50%, rgba(255,221,117,1) 75%, rgba(255,204,49,1) 100%);
    background: -ms-linear-gradient(top, rgba(255,204,49,1) 0%, rgba(255,221,117,1) 25%, rgba(255,221,117,1) 50%, rgba(255,221,117,1) 75%, rgba(255,204,49,1) 100%);
    background: linear-gradient(to bottom, rgba(255,204,49,1) 0%, rgba(255,221,117,1) 25%, rgba(255,221,117,1) 50%, rgba(255,221,117,1) 75%, rgba(255,204,49,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffcc31', endColorstr='#ffcc31', GradientType=0 );
  }
  @include thin-border;
  padding: 0 1em;
}

@mixin main-gradient {
  background: rgba(17,20,31,1);
  background: -moz-linear-gradient(top, rgba(17,20,31,1) 0%, rgba(30,36,57,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(17,20,31,1)), color-stop(100%, rgba(30,36,57,1)));
  background: -webkit-linear-gradient(top, rgba(17,20,31,1) 0%, rgba(30,36,57,1) 100%);
  background: -o-linear-gradient(top, rgba(17,20,31,1) 0%, rgba(30,36,57,1) 100%);
  background: -ms-linear-gradient(top, rgba(17,20,31,1) 0%, rgba(30,36,57,1) 100%);
  background: linear-gradient(to bottom, rgba(17,20,31,1) 0%, rgba(30,36,57,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#11141f', endColorstr='#1e2439', GradientType=0 );
}

// Color definitions
$yellow: #ffcd31;
$dark-yellow: #ecad2f;
$dark-blue: #1e2439;
$darkest-blue: #11141f;
$red: #b2152b;
$white: #FFF;
$grey: #DDD;

/* Base Styles */
html, a {
  color: $white;
}

body {
  background-color: $dark-blue;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.4;
}

ul {
  padding: 0;
}

nav {
  ul {
    list-style: none;
  }
  li {
    display: inline-block;
    &:hover {
      & > .submenu {
        display: block;
        z-index: 1;
      }
    }
  }
}

dt {
  float: left;
  font-weight: bold;
  &:after {
    content: ":";
    margin-left: -0.3em;
  }
}
dd {
  margin-left: 4.5em;
}

h1 {
  color: $red;
  font-size: 1.2em;
  margin: 0;
}

h2 {
  color: $red;
  font-size: 1.2em;
  margin: 0;
}

button {
  cursor: pointer;
}

input {
  border: 2px $white solid;
  @include transition(0.5s);
  &:focus {
    border-color: $dark-blue;
  }
}

/* Layout Styles */
%constraint {
  width: 822px;
  margin: 0 auto;
}

header {
  @extend %constraint;
  @extend .clearfix;
  position: relative;
}

.logo-text {
  color: $yellow;
  display: inline-block;
  margin: 0;
  font-size: 3em;
  line-height: 1;
  font-weight: bold;
}

.m-search {
  display: table;
  float: left;
  width: 72%;
  p {
    margin: 0;
  }
  .logo {
    display: table-cell;
  }
  input[type="search"] {
    width: 20em;
  }
  .submit {
    text-align: center;
    padding-left: 1em;
    input {
      font-weight: bold;
      display: block;
      @include yellow-button;
      padding: 0 2em;
    }
    a {
      font-size: 0.7em;
    }
    display: table-cell;
  }
}

.m-login {
  position: relative;
  float: right;
  text-align: center;
  li:nth-child(n+2):before {
    content: "|";
  }
  a {
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
    form {
      display: block;
    }
  }
  form {
    background-color: $yellow;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    position: absolute;
      left: -25%;
      right: -25%;
    padding: 1em;
    display: none;
    input {
      margin-bottom: 1em;
      height: 2em;
      display: block;
      width: 100%;
      text-align: center;
      &[type="submit"] {
        @include yellow-button;
      }
    }
    a {
      color: $dark-blue;
      line-height: 2.5;
      font-size: .8em;
    }
  }
}
.navbar {
  clear: both;
  li {
    margin-top: 1em;
    position: relative;
    .current-page, &:hover {
      background-color: $red;
      &:after {
        content: " ";
        position: absolute;
          bottom: -24px;
          left: 50%;
        margin-left: -12px;
        border: 12px transparent solid;
        border-top-color: $red;
        display: block;
        width: 0;
        height: 0;
        z-index: 2;
      }
    }
  }
  .submenu {
    display: block;
    background-color: $yellow;
    margin: 0;
    display: none;
    position: absolute;
      left: 0;
    white-space: nowrap;
    li {
      display: block;
      margin: 0;
      &:first-of-type {
        margin-top: 1em;
      }
      &:last-of-type {
        margin-bottom: 1em;
      }
      &:hover {
        background: $dark-yellow;
      }
      &:hover:after {
        display: none;
      }
      a {
        font-weight: normal;
        padding: 0 1em;
        color: $dark-blue;
      }
    }
  }
  .imdb-pro {
    float: right;
    &:hover {
      &:after {
        display: none;
      }
    }
    a {
      color: $yellow;
    }
  }
  a {
    text-decoration: none;
    display: block;
    padding: 0.5em 1em;
    font-weight: bold;
  }
}

.main {
  @extend %constraint;
  @extend .clearfix;
  @include border-radius($top-left: 10px, $top-right: 10px);
  @include main-gradient;
}

footer {
  @extend %constraint;
  @include border-radius($bottom-right: 10px, $bottom-left: 10px);
  line-height: 3;
  text-align: center;
  background-color: $darkest-blue;

  a {
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
  li:nth-of-type(n+2):before {
    content: "|";
    display: inline-block;
  }
}
/* Module Styles */

.play-button {
  @include yellow-button;
  position: absolute;
    right: 10px;
    bottom: 12px;
  width: 35px;
  height: 31px;
  &:after {
    content: " ";
    border: 10px transparent solid;
    border-left-color: #000;
    position: absolute;
      bottom: 50%;
      left: 50%;
    margin-bottom: -10px;
    margin-left: -5px;
  }
  &:hover {
    border-color: $white;
    @include transition(1s);
  }
  &:active {
    @include yellow-button(true);
  }
  a {
    visibility: hidden;
  }
  &[disabled] {
    cursor: default;
  }
}

.expand-button {
  @extend .play-button;
  position: relative;
    right: 0;
    bottom: 0;
  &:after {
    border: 0;
    content: "+";
    font-size: 30px;
    line-height: 30px;
    margin-left: -10px;
    margin-bottom: -15px;
  }
}
.contract-button {
  @extend .expand-button;
  &:after {
    content: "-";
  }
}

.move-button {
  @extend .expand-button;
  cursor: move;
  &:after {
    content: " ";
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
    margin: 0;
    background-image: url('../img/move.png');
    background-repeat: no-repeat;
    background-position: center center;
  }
}
.controls {
  position: absolute;
    top: 0;
    right: 0;
  padding: 5px;
}
.spoilers {
  text-transform: capitalize;
  color: $red;
}


.more {
  font-size: 0.7em;
  text-align: center;
  &:after {
    content: " >>";
  }
}

$home-tile-dim: 198px;
$home-tile-gut: 10px;

.home-tile {
  margin: $home-tile-gut/2;
  position: relative;
  float: left;
  width: $home-tile-dim;
  height: $home-tile-dim;
  .home-tile-text {
    background-color: rgba($darkest-blue, 0.8);
    padding: 0.5em;
    position: absolute;
      left: 0;
      right: 0;
  }

  .title {
    color: $yellow;
    font-weight: bold;
    font-size: 1.1em;
  }
  p {
    margin: 0;
    font-size: 0.7em;
  }
  &.two-col { width: $home-tile-gut + $home-tile-dim * 2; }
  &.two-row { height: $home-tile-gut + $home-tile-dim * 2; }
}

  .three-col {
    float: left;
    max-width: ($home-tile-gut * 2.5) + ($home-tile-dim * 3);
  }
  .two-row {
    max-height: $home-tile-gut + $home-tile-dim * 2
  }

  .alpha      { margin-left: 0; }
  .topmost    { margin-top: 0; }
  .omega      { margin-right: 0; }
  .bottommost { margin-bottom: 0; }
  .alpha.topmost {
    &, img { @include border-radius($top-left: 10px); }
  }
  .omega.topmost {
    &, img { @include border-radius($top-right: 10px); }
  }
  .top-cap    { top: 0;}
  .bottom-cap { bottom: 0;}

.showtimes {
  background-color: $white;
    ul {
    margin: 0;
  }
  select {
    @include thin-border;
    background-color: $yellow;
    width: 100%;
  }
  p {
    width: 90%;
    margin: 0 auto;

  a {
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }}
  a, p {
    display: block;
    color: $darkest-blue;
    font-size: 0.8em;
  }
}

.movie-flag {
  display: table;
  padding: 0.5em;
  .poster { padding-right: 0.5em; }
  .poster, .info {
    display: table-cell;
    vertical-align: middle;
  }
  &, a { color: $darkest-blue; }

  a {
    display: block;
    font-size: 0.7em;
  }

  .title {
    color: $red;
    font-size: 0.8em;
  }
}

.movie-page {
  img {
    height: 100%;
  }
  a {
    display: inline;
    &:before { content: "("; }
    &:after { content: ")"; }
    font-size: 0.9em;
  }
  .poster {
    min-width: 191px;
    padding-right: 12px;
  }
  .info {
    position: relative;
    padding: 10px;
    height: 271px;
    vertical-align: top;
    background-color: $white;
    &:after {
      content: " ";
      display: block;
      width: 0;
      height: 0;
      border: 10px transparent solid;
      border-right-color: $white;
      background-color: transparent;
      position: absolute;
        top: 40px;
        left: -20px;
    }
  }

}

.rating {
  font-size: 2em;
  margin: 0;
  .stars-earned, .stars-unearned {
    font-size: 52px;
    line-height: 0;
    position: relative;
      top: 16px;
  }
  .stars-unearned, .total {
    color: $grey;
    &:after {
      content: " ";
    }
  }
  a {
    text-decoration: none;
    display: block;
    float: right;
    &:hover {
      text-decoration: underline;
    }
  }
}

.movie-module {
  background-color: $white;
  padding: 1em;
  position: relative;
  margin: 5px 10px 20px 10px;
  &:before {
    content: " ";
    display: block;
    position: absolute;
      top: -20px;
      left: 10%;
    border: 10px transparent solid;
    border-bottom-color: $white;
  }
}

.related-carousel {
  position: relative;
  text-align: center;
  img {
    @include thin-border;
    margin: 0 5px;
  }
  .play-button {
    height: 100%;
    &:after {
    }
  }
  .forward {
    top: 0;
    right: 0;
  }
  .backward {
    @include flipX;
    top: 0;
    left: 0;
  }
}

/* States */
.dragging {
  opacity: 0.4;
}

.dragover {
  @include transition(0.15s, border, ease-in);
  border: 5px $dark-blue dashed;
  @include border-radius(5px, 5px, 5px, 5px);
  &:before {
    border: 0;
  }
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}